* {
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #e7ebf0;
}

body {
  display: flex;
  min-height: 100%;
}

#app {
  width: 100%;
}

pre {
  margin: 0;
  padding: 10px;
  text-align: left;
}

pre,
pre * {
  user-select: text;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
