* {
  box-sizing: border-box;
}

body,
html,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

.tools {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 10px;
  background-color: grey;
  opacity: 0.8;
}

pre {
  overflow: auto;
  margin: 0;

  background-color: #303030;
  padding: 20px;
  padding-top: calc(42px + 20px);
  color: white;
  height: 100%;
}
